<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/dashboard" aria-expanded="false">
                        <i class="mdi mdi-av-timer"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/user" aria-expanded="false">
                        <i class="mdi mdi-account-network"></i>
                        <span class="hide-menu">User</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/abk" aria-expanded="false">
                        <i class="mdi mdi-face"></i>
                        <span class="hide-menu">Awak Kapal</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <i class="mdi mdi-border-none"></i>
                        <span class="hide-menu">Kapal</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-transparent py-2 collapse-inner rounded ml-4">
                            <a class="collapse-item" href="/admin/kapal" style="color: grey;"  onmouseover="this.style.color='white'" onmouseout="this.style.color='grey'"> 
                                <h5 class="collapse-header">Table Kapal</h5>
                            </a>
                            <a class="collapse-item" href="/admin/formkapal" style="color: grey;"  onmouseover="this.style.color='white'" onmouseout="this.style.color='grey'">
                                <h5 class="collapse-header">Input Kapal</h5>
                            </a>
                        </div>
                      </div>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/mutasi" aria-expanded="false">
                        <i class="mdi mdi-file"></i>
                        <span class="hide-menu">Mutasi</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="error-404.html" aria-expanded="false">
                        <i class="mdi mdi-alert-outline"></i>
                        <span class="hide-menu">404</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>